<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="putramusik_menu_root"
        name="Putra Musik"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="putramusik_produk_menu_categ"
        name="Produk"
        parent="putramusik_menu_root"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="putramusik_pegawai_menu_categ"
        name="Pegawai"
        parent="putramusik_menu_root"
        sequence="20"/>

        <!-- This Menu Item Must have a parent -->
    <menuitem
	    id="putramusik_transaksi_menu_categ"
	    name="Transaksi"
	    parent="putramusik_menu_root"
	    sequence="42"/>

</odoo>